<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>
  <title>Index</title>
</head>

<body>
  <main>
    <section>
      <div class="container">
        <% if (locals.user) {%>
        <div class="row">
          <h1>Welcome <%= user.first_name %></h1>
          <a href="/logout">LOG OUT</a>
        </div>
        <% if (!user.membership_status) {%>
        <form action="/inside-access" method="POST">
          <header>
            <h2>Get inside access</h2>
            <p>You can now create and see messages. If you want to see who wrote the messages you need to be an insider. Enter the super secret password below to get in!</p>
          </header>
          <main>
            <label for="password">Super Secret Password</label>
            <input id="password" name="password" type="password" autocomplete="new-password" />
            <% if (locals.error) {%>
            <div style="color: red; margin-block-start: 1rem;">
              <%= error %>
            </div>
            <%}%> 
            <button type="submit">Let Me In</button>
          </main>
        </form> 
      <%}%>

            <% if (!user.admin_status) {%>
            <form action="/admin-access" method="POST">
              <header>
                <h2>Get admin access</h2>
                <p>Enter the admin password below to become an admin!</p>
              </header>
              <main>
                <label for="password">Admin Password</label>
                <input id="password" name="password" type="password" autocomplete="new-password" />
                <% if (locals.error) {%>
                <div style="color: red; margin-block-start: 1rem;">
                  <%= error %>
                </div>
                <%}%> 
            <button type="submit">Let Me In</button>
          </main>
        </form> 
        <%}%>

      </div>
    </section>
    <%- include("partials/messages.ejs") %>
    <%}%>
  </main>
</body>

</html>